
    <ul>
    <% exercises.each do |exercise| %>
      <li><%= exercise.name %><br>
          <%= exercise.description %><br>
          Repetitions: <%= exercise.repetitions %><br>
          Est. Time: <%= exercise.seconds_duration %><br>
          Source: <%= exercise.source_url %><br>
          <%= image_tag exercise.photo_url %>
      </li>
    <% end %>
    </ul>
