
<% if @exercises %>
<h1>Your personalized workout</h1>
<%= form_for @workout do |f| %>
<%= f.hidden_field :exercise_ids, value: @exercises.map(&:id).join(",") %>
<%= f.submit "Save this workout", class: "btn btn-default" %>
<% end %>
<%= render 'workouts/displayworkout', exercises: @exercises %>

<% else %>
<div id="header">
  <div class="container">
    <div class="col-md-4"></div>
      <div class="col-md-4">
        <div class="well">
          <p>Use "Workout Now" to generate a workout of a desired length and category.</p>
          <form class="form-inline" role="form">
            <%= form_tag(exercises_path, method: "get") do %>
            <div class="form-group">
              <%= label_tag(:desired_duration, "Minutes: ") %>
              <input id="desired_duration" max="30.0" min="1.0" name="desired_duration" step="1.0" type="number" />
            </div>
            <div class="form-group">
              <%= label_tag(:desired_category, "Category: ") %>
              <%= select_tag(:desired_category, options_for_select([['Bodyweight','Bodyweight']])) %>
            </div>
            <%= submit_tag("Workout Now", class: "btn btn-default") %>
            <% end %>
          </form>
        </div>
      </div>
    <div class="col-md-4"></div>
  </div>
</div>
<% end %>
