<%= form_tag(exercises_path, method: "get") do %>
  <%= label_tag(:desired_duration, "Minutes: ") %>
  <%= number_field_tag(:desired_duration) %>
  <%= label_tag(:desired_category, "Category: ") %>
  <%= text_field_tag(:desired_category) %>
  <%= submit_tag("Workout Now") %>
<% end %>

<% if @exercises %>
  <h1>Your personalized workout</h1>
  <%= form_for @workout do |f| %>
    <%= f.hidden_field :exercise_ids, value: @exercises.map(&:id).join(",") %>
    <%= f.submit "Save this workout" %>
  <% end %>


    <ul>
    <% @exercises.each do |exercise| %>
      <li><%= exercise.name %><br>
          <%= exercise.description %><br>
          Repetitions: <%= exercise.repetitions %><br>
          Est. Time: <%= exercise.seconds_duration %><br>
          Source: <%= exercise.source_url %><br>
          <img src=<%= exercise.photo_url %>/>
      </li>
    <% end %>
    </ul>
<% end %>


